<!DOCTYPE html>
<html lang="ja"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>会社概要</title>
<link rel="stylesheet" href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" >
<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" >
</head>
<body class="body" style="padding-bottom: 70px;">
<div class="container">
		<!-- fragment-header.htmlからヘッダーを引っ張る処理 -->
		<span th:include="/fragment-header::frag-header"></span>
		<!-- register form -->
		<div class="row">
			<div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
				<!-- 背景をグレーに、埋め込んだようなコンポーネント -->
				<div class="well">
<!-- ここにモックのform要素を貼り付けます -->

					<form >
						<fieldset>
							<legend>管理者画面</legend>
							<table class="table table-striped">
							  <tr>
							    <th nowrap>
							     <span><a th:href="@{/admin/toAddNewPizza}">新商品追加</a></span>
							    </th>					    					    
							  </tr>
							</table>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
		</div>
		<!-- fragment-hooter.htmlからフッターを引っ張る処理 -->
		<span th:include="/fragment-footer::frag-footer"></span>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>